body {
  box-sizing: border-box;
  background-color: #242526;
  color: #fff;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 0 15px;
  border-top: 1px solid #3a3b3c;
}

li {
  list-style: none;
}

.left-nav {
  padding-right: 15px;
}

.left__icons-one {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left__chat h4 {
  font-size: 25px;
}

.left__icon ul {
  display: flex;
  align-items: center;
  gap: 10px;
}

.left__icon ul li {
  background: #3a3b3c;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* =====   message ==== */
.message {
  border-left: 1px solid #3a3b3c;
  border-right: 1px solid #3a3b3c;
  padding: 0 10px;
}
